<%= form_with model: article, local: true do |f| %>
  <h5 class="mt-3">画像</h5>
  <div class="mt-3">
    <%= f.file_field :image, accept: "image/*" %>
  </div>
  <h5 class="mt-3">投稿内容※</h5>
  <%= f.text_area :text, :size => "40x5", placeholder: "何でも書いてみましょう" %>
  <div class="mt-3 mb-3">
    <%= f.select :status, Article.statuses.keys.map { |k| [I18n.t("enums.article.status.#{k}"), k]}, { include_blank: t('選択してください') } %>
  </div>
  <%= f.submit '投稿',class: "btn btn-success" %>

<% end %>