<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 mt-5 offset-md-3">

      <h2  class="mb-4">新規登録</h2>

      <%= form_with model: @user, url: user_registration_path do |f| %>

        <div class="form-group">
          <%= f.label :お名前 %>
          <%= f.text_field :name, class: 'form-control user-name' %>
        </div>

        <div class="form-group">
          <%= f.label :お名前（カナ） %>
          <%= f.text_field :name_kana, class: 'form-control user-name-kana' %>
        </div>

        <div class="form-group">
          <%= f.label :ニックネーム（実際にサイト上で表示されるお名前です） %>
          <%= f.text_field :nickname, class: 'form-control user-nickname' %>
        </div>

        <div class="form-group">
          <%= f.label :あなたの性別%>
          <%#= f.select :gender, User.genders_i18n.invert.map{|key, value| [key, User.genders[value]]}, { include_blank: t('選択してください') }, class: 'form-control user-gender' %>
          <%= f.select :gender, User.genders.keys.map { |k| [I18n.t("enums.user.gender.#{k}"), k]}, { include_blank: t('選択してください') }, class: 'form-control user-gender' %>
        </div>

        <div class="form-group">
          <%= f.label :あなたの年齢 %>
          <%= f.select :age, User.ages.keys.map { |k| [I18n.t("enums.user.age.#{k}"), k]}, { include_blank: t('選択してください') }, class: 'form-control user-age' %>
        </div>

        <div class="form-group">
          <%= f.label :好きな人の性別%>
          <%= f.select :partner_gender, User.partner_genders.keys.map { |k| [I18n.t("enums.user.partner_gender.#{k}"), k]}, { include_blank: t('選択してください') }, class: 'form-control partner_gender' %>
        </div>

        <div class="form-group">
          <%= f.label :好きな人の年齢 %>
          <%= f.select :partner_age, User.partner_ages.keys.map { |k| [I18n.t("enums.user.partner_age.#{k}"), k]}, { include_blank: t('選択してください') }, class: 'form-control partner_age' %>
        </div>

        <div class="form-group">
          <%= f.label :好きな人のタイプ（診断ページで診断してください）%>
          <%= f.select :partner_type, User.partner_types.keys.map { |k| [I18n.t("enums.user.partner_type.#{k}"), k]}, { include_blank: t('選択してください') }, class: 'form-control partner_type' %>
        </div>

        <div class="form-group">
          <%= f.label :メールアドレス %>
          <%= f.email_field :email, autocomplete: "email", class: 'form-control email' %>
        </div>

        <div class="form-group">
          <%= f.label :電話番号（ハイフンなし） %>
          <%= f.text_field :telephone_number, class: 'form-control user-telephone-number' %>
        </div>

        <div class="form-group">
          <%= f.label :住所 %>
          <%= f.text_field :address, class: 'form-control user-address' %>
        </div>

        <div class="form-group">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control user-new-password' %>
        </div>

        <div class="form-group">
          <%= f.label :パスワード（確認用） %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control user-new-password' %>
        </div>

        <div class="form-group">
          <%= f.label :ユーザー画像 %><br>
          <%= f.file_field :image %>
        </div>

        <div class="form-group">
          <%= f.label :ひとこと %>
          <%= f.text_field :personal_comment, class: 'form-control personal_comment' %>
        </div>

        <div class="actions mt-5">
          <%= f.submit "新規登録",data: { confirm: '新規登録します。よろしいですか？' }, class: "btn btn-success" %>
        </div>
      <% end %>

      <div class="mt-3 mb-5">
      <%= render "public/shared/links" %>
      </div>

   </div>
  </div>
</div>
