<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mt-5 d-flex justify-content-center">
      <h2>登録ユーザー　一覧</h2>
    </div>

    <div class="col-md-12 mt-2 d-flex justify-content-center">
    <!--テーブルの幅の横幅が足りなくなった場合に、横スクロールさせる-->
    <div class="table-responsive">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th></th>
            <th>名前</th>
            <th>名前（カナ）</th>
            <th>ニックネーム</th>
            <th>住所</th>
            <th>電話番号</th>
            <th>ユーザー詳細</th>
            <th>ステータス</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
          <tr>
          <td class="align-middle">
            <%= link_to admin_user_path(user) do %>
              <%= image_tag user.get_image(100,100), class: "rounded-circle" %>
            <% end %>
          </td>
          <td class="align-middle">
            <%= user.name %>
          </td>
          <td class="align-middle">
            <%= user.name_kana %>
          </td>
          <td class="align-middle">
            <%= user.nickname %>
          </td>
          <td class="align-middle">
            <%= user.address %>
          </td>
          <td class="align-middle">
            <%= user.telephone_number %>
          </td>
          <td class="align-middle">
            <%= link_to "詳細", admin_user_path(user), class: "btn btn-success" %>
          </td>
          <td class="align-middle">
            <% if user.is_deleted %>
              <p class ="font-weight-bold"><%= "退会済み" %></p>
            <% else %>
              <p class ="font-weight-bold text-success"><%= "有効会員" %></p>
            <% end %>
          </td>
          <td class="align-middle">
              <%= link_to "編集", edit_admin_user_path(user), class: "btn btn-warning" %>
          </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>


    </div>
  </div>
</div>