<div class="drawer drawer--left">
  <header role="banner">
    <!-- ハンバーガーボタン -->
    <button type="button" class="drawer-toggle drawer-hamburger">
      <span class="sr-only">toggle navigation</span>
      <span class="drawer-hamburger-icon"></span>
    </button>
    <!-- ナビゲーションの中身 -->
    <nav class="drawer-nav" role="navigation">
      <ul class="drawer-menu">
        <% if user_signed_in? %>
          <li class="drawer-brand"><%= link_to "恋バナ", top_path %></li>
          <li class="drawer-menu-item" ><%= link_to "マイページ", user_path(current_user.id) %></li>
          <li class="drawer-menu-item" ><%= link_to "カレンダー", events_path %></li>
          <li class="drawer-menu-item" ><%= link_to "ユーザー一覧", users_path %></li>
          <li class="drawer-menu-item" ><%#= link_to "タイムライン", user_timeline_path(current_user.id) %></li>
          <li class="drawer-menu-item" ><%= link_to "投稿一覧(仮)", articles_path %></li>
          <li class="drawer-menu-item" ><%= link_to "新規投稿(仮)", new_article_path %></li>
          <li class="drawer-menu-item" ><%= link_to "ダイエット記録", diets_path %></li>
          <li class="drawer-menu-item" ><%= link_to "通知", notifications_path %></li>
          <li class="drawer-menu-item" ><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li class="drawer-brand"><%= link_to "恋バナ", top_path %></li>
          <li class="drawer-menu-item" ><%= link_to "About", about_path %></li>
          <li class="drawer-menu-item" ><%= link_to "診断", diagnosises_path %></li>
          <li class="drawer-menu-item" ><%= link_to "新規登録", new_user_registration_path %></li>
          <li class="drawer-menu-item" ><%= link_to "ログイン", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </header>

  <!-- ドロワーメニューの利用宣言 -->
  <script>
    $(document).ready(function() {
    $('.drawer').drawer();
  });
  </script>
</div>
